html, body, .container {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font: caption;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    user-select: none;
    overflow: hidden;
}
rect{
    shape-rendering: crispEdges;
}
circle, path { 
    shape-rendering: geometricPrecision;
}
.container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#paper, #syntax {
    margin-top:5px;
    flex-grow: 1;
    text-align: center;
}

#command {
    padding: 0px 30px;
    text-align: left;
}
#inputEdit:focus{
    outline: none;
}

div[id^="container-"]{
    overflow-x: hidden;
    overflow-y: scroll;
    background: #ffffff;
    border: 1px solid #5d5d5d;
}

 .scrollbarStyle::-webkit-scrollbar-track
 {
     box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     background-color: #F5F5F5;
 }
 
 .scrollbarStyle::-webkit-scrollbar
 {
     width: 7px;
     background-color: #F5F5F5;
 }
 
.scrollbarStyle::-webkit-scrollbar-thumb
 {
     background-color: #bbbbbb;
     border: 1px solid #bbbbbb;
 }
 @font-face {
    font-family: "Open Sans";
    src: url("./Open_Sans/OpenSans-Regular.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-RegularItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Light.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-LightItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-Bold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-BoldItalic.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBold.ttf") format("ttf"),
         url("./Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
}